#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/*RESET*/
*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
    color: inherit;
}
ul, ol, li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: inherit;
	font-size: inherit;
}
html, body {
    height: 100%;
    line-height: 1;
}
button, input {
    cursor: pointer;
    background-color: inherit;
}
/*RESET*/

.app {
  min-height: 100vh;
  width: 800px;
  padding: 20px;
  transition: background-color 0.6s, color 0.4s;
}

.app.light {
  --bg: #ffffff;
  --text: #111111;
  --border: #cccccc;
  --todo-bg: #fffaa5;
  --span: #b1ab00;
  --but_bg: #25ff0882;
  --but_hover: #00ffea89;
}
.app.dark {
  --bg: #121212;
  --text: #f5f5f5;
  --border: #00e1ff;
  --todo-bg: #002a35c9;
  --span: #d000ff;
  --but_bg: #359dffab;
  --but_hover: #fff70089;
}

.app {
  background-color: var(--bg);
  color: var(--text);
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: var(--todo-bg);
  border: 1px solid var(--border);
  padding: 8px 12px;
  margin-bottom: 8px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 8px;
}

button {
  border: 1px solid var(--border);
  color: var(--text);
  cursor: pointer;
  /* display: block; */
  text-align: center;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--but_bg);
  transition: background-color 0.6s;
}
button:hover {
  background-color: var(--but_hover);
}
button:disabled {
  background-color: #c0c0c0;
  color: #888;
  cursor: not-allowed;
  transition: background-color 0.2s;
}
/* button:not(:disabled):hover {
  background-color: var(--border);
} */

input {
  background-color: transparent;
  color: var(--text);
  border: 1px solid var(--border);
}

.theme_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 30px 0;
}
.theme_header {
  font-size: 36px;
  margin-bottom: 15px;
}
.span-el {
  color: var(--span);
  font-style: italic;
  font-weight: 700;
}
.theme_button{
  border: 1px solid var(--border);
  color: var(--text);
  cursor: pointer;
  /* display: block; */
  text-align: center;
  padding: 10px 20px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: var(--but_bg);
  transition: opacity 0.6s, background-color 0.6s;
}
.theme_button:hover {
  background-color: var(--but_hover);
}